In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/sample_data/first_100.csv', index_col='id')
df.head()

,x_tsne,y_tsne,z_tsne,genre,x_umap,y_umap,z_umap,tempo,album_cover
id,,,,,,,,,
0,-127.042564,19.877588,-4.116972,Hip-Hop,9.255767,2.644778,7.680147,152,NaN
1,123.664120,-3.403952,47.079090,Hip-Hop,9.312731,3.632258,6.629273,90,NaN
2,47.087223,-60.953420,5.062883,Pop,9.443632,1.698224,6.009628,81,NaN
3,-48.678160,-4.777902,32.801365,Folk,7.951473,2.112897,5.175939,106,NaN
4,-64.164650,17.248343,-7.971599,Folk,7.996155,2.770858,5.700550,93,NaN

In [12]:
df['track_name'] = pd.Series(['' for _ in range(100)])

In [13]:
df.head()

,x_tsne,y_tsne,z_tsne,genre,x_umap,y_umap,z_umap,tempo,album_cover
id,,,,,,,,,
0,-127.042564,19.877588,-4.116972,Hip-Hop,9.255767,2.644778,7.680147,152,
1,123.664120,-3.403952,47.079090,Hip-Hop,9.312731,3.632258,6.629273,90,
2,47.087223,-60.953420,5.062883,Pop,9.443632,1.698224,6.009628,81,
3,-48.678160,-4.777902,32.801365,Folk,7.951473,2.112897,5.175939,106,
4,-64.164650,17.248343,-7.971599,Folk,7.996155,2.770858,5.700550,93,

In [11]:
df.to_csv('dataset/sample_data/first_100.csv')

In [3]:
tracks = pd.read_csv('dataset/data/fma_metadata/raw_tracks.csv')

In [9]:
df['track_title'] = tracks['track_title'][:100]

In [10]:
df['artist'] = tracks['artist_name'][:100]

In [12]:
df.head()

,x_tsne,y_tsne,z_tsne,genre,x_umap,y_umap,z_umap,tempo,album_cover,track_title,artist
id,,,,,,,,,,,
0,-127.042564,19.877588,-4.116972,Hip-Hop,9.255767,2.644778,7.680147,152,NaN,Food,AWOL
1,123.664120,-3.403952,47.079090,Hip-Hop,9.312731,3.632258,6.629273,90,NaN,Electric Ave,AWOL
2,47.087223,-60.953420,5.062883,Pop,9.443632,1.698224,6.009628,81,NaN,This World,AWOL
3,-48.678160,-4.777902,32.801365,Folk,7.951473,2.112897,5.175939,106,NaN,Freeway,Kurt Vile
4,-64.164650,17.248343,-7.971599,Folk,7.996155,2.770858,5.700550,93,NaN,Spiritual Level,Nicky Cook